/* Login.css */

.auth-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(20, 20, 20);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 60%;
  max-width: 400px;
  margin-left: -200px; /* Adjust margin to center the modal more */
}

.auth-modal h2 {
  margin-bottom: 20px;
}

.auth-modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-modal label {
  margin-bottom: 8px;
}

.auth-modal input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 20px; /* Add border-radius to make the input fields more circular */
}

.auth-modal button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.auth-modal button:hover {
  background-color: #0056b3;
}

.close-btn {
  position: absolute;
  top: 0; /* Align to the top */
  right: 0; /* Align to the right */
  cursor: pointer;
  font-size: 18px;
  color: rgb(0, 0, 0);
  background-color: #fff; /* White circle background */
  border-radius: 50%; /* Make it a circle */
  padding: 12px; /* Adjust padding to make it more circular and bigger */
}

